{
  "presets": [
    "@babel/preset-env", "@babel/preset-react",
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    ["import", { "libraryName": "star-web", "libraryDirectory": "src/components"}]
  ],
}

