@import '~star-web/theme/index.less';

.@{theme_namespace}{
  .star-treebase-list {
    position: relative;
    height: auto;
    transition: height .2s ease;
    white-space: nowrap;
  }

  ul,li {
    list-style: none;
    padding: 0;
  }
  .star-tree-base{
    background-color: @theme_color;
  }
}