

.@{theme_namespace}{
.xz-bk-layer-fixed{
    position: fixed;
}
.xz-bk-layer-absolute{
    position: absolute;
}
.xz-bk-layer{
    @o:@bk_layer_opacity*100;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    background-color:@bk_layer_background;
    filter: alpha(opacity=@o);
    opacity: @bk_layer_opacity;
    visibility: visible;
}

.xz-bk-layer-hide{
    animation:xzbklayerhide .4s ease; 
    opacity: 0;
    visibility: hidden;
}

@keyframes xzbklayerhide{
    from {opacity:@bk_layer_opacity; visibility: visible; }
    to {opacity:0; visibility: hidden; }
}

.xz-bk-layer-show{
    animation:xzbklayershow .4s ease; 
    opacity: @bk_layer_opacity;
}

@keyframes xzbklayershow{
    from {opacity:0; visibility: hidden;}
    to {opacity:@bk_layer_opacity; visibility: visible;}
}
}
 

.@{theme_namespace}{
  .star-btn{
    background-color: @theme_color;
  }

  .start-btn-size-default {
    height: @btn_size_default;
  }

  .start-btn-size-lg {
    
  }
} .star-hbox{
    height: 100%; 
    position: relative;
    width: 100%;
    overflow: hidden;
}


.star-hbox-panel{
   position: absolute;
   height:100%;
   top:0;
   transition: left .3s ease, right .3s ease, width .3s ease;
   backface-visibility: hidden;
}
.star-hbox-bk{
   z-index: 2;
}

.star-hbox-transition-top-none{
   transition: right .3s ease, width .3s ease;
}
.star-hbox-transition-bottom-none{
   transition: left .3s ease, width .3s ease;
}

.star-hbox-panel-left-popshow{
   z-index: 3;
   animation:leftpopshow .3s ease;
   transform: translateX(0);
}

@keyframes leftpopshow
{
   from {transform: translateX(-100%);}
   to {transform: translateX(0);}
}

.star-hbox-panel-left-pophide{
   z-index: 3;
   transform: translateX(-100%);
   animation:leftpophide .3s ease;
}

@keyframes leftpophide
{
   from {transform: translateX(0);}
   to {transform: translateX(-100%);}
}

.star-hbox-panel-right-popshow{
   z-index: 3;
   animation:rightpopshow .3s ease;
   transform: translateX(0);
}

@keyframes rightpopshow
{
   from {transform: translateX(100%);}
   to {transform: translateX(0);}
}
.star-hbox-panel-right-pophide{
   z-index: 3;
   transform: translateX(100%);
   animation:rightpophide .3s ease;
}

@keyframes rightpophide
{
   from {transform: translateX(0);}
   to {transform: translateX(100%);}
}

 

.@{theme_namespace}{
  .star-input{
    background-color: @theme_color;
  }
  
} 

.@{theme_namespace}{
    .star-menu{
        user-select:none;
        min-height: 100%;
        background-color: @menu_background;
    }

    .star-menu-item,.star-menu-section-header{
        position: relative;
        cursor: pointer;
        white-space:nowrap;
    }

    .star-menu-item{
        font-size: @menu_item_fontsize;
        color:@menu_item_text_color; 
        height:@menu_item_height;
        line-height: @menu_item_height;
        background-color: @menu_item_background;
    }
    .star-menu-section-header{
        font-size: @menu_header_fontsize;    
        height:@menu_header_height;
        line-height: @menu_header_height;
        color:@menu_header_text_color;
        background-color: @menu_header_background;
    }

    .star-menu-group-title{
        height:@menu_item_height;
        line-height: @menu_item_height;
        font-size: @menu_group_fontsize;
        color:@menu_group_text_color;
        background-color: @menu_group_background;
    }

    .star-menu-section .star-menu-item{
        color:@menu_item_text_color;
        background-color: @menu_item_background;
    }
    .star-menu-section-items-wrapper{
        overflow: hidden;   
        transition: height 0.2s ease;
    }

    .star-menu-icon{
        margin-right: 8px;
    }
    
    .star-menu-item-selected{
        background-color: @menu_item_selected_background !important;
        color: @menu_item_selected_color !important;
    }

    .star-menu-mini .star-menu-root-item{
        text-align: center;
        height:45px;
        cursor: pointer;
        line-height: 45px;
        color: @menu_item_text_color;
    }
    .star-menu-mini .star-menu-root-labelitem{
        text-align: center;
        padding-top:10px;
        padding-bottom: 10px;
        color: @menu_item_text_color;
        cursor: pointer;
    }

    .star-menu-item:hover,.star-menu-root-labelitem:hover,.star-menu-root-item:hover{
        background-color: @menu_item_hover_background;
        color: @menu_item_hover_text_color;
    }

    .star-menu-mini .star-root-item-icon{
        display: inline-block;
        transform: scale(1.2);
        transform-origin: center;
        -ms-transform: scale(1.2);
        -ms-transform-origin: center;
    }

    .star-root-item-label{
        font-size: 12px;
        white-space: nowrap;  
        text-overflow:ellipsis; 
        overflow:hidden;
        text-align: center;
        transform: scale(0.9);
        -ms-transform: scale(0.9);
        margin-top: 3px;
    }
} 

.@{theme_namespace}{
  .star-treebase-list {
    position: relative;
    height: auto;
    transition: height .2s ease;
    white-space: nowrap;
  }

  ul,li {
    list-style: none;
    padding: 0;
  }
  .star-tree-base{
    background-color: @theme_color;
  }
} .star-vbox{
     height: 100%; 
     position: relative;
     width: 100%;
     overflow: hidden;
}

.star-vbox-panel{
    position: absolute;
    width:100%;
    left:0;
    transition: top .3s ease, bottom .3s ease, height .3s ease;
    backface-visibility: hidden;
}
.star-vbox-bk{
    z-index: 2;
}

.star-vbox-transition-top-none{
    transition: bottom .3s ease, height .3s ease;
}
.star-vbox-transition-bottom-none{
    transition: top .3s ease, height .3s ease;
}

.star-vbox-panel-top-popshow{
    z-index: 3;
    animation:toppopshow .3s ease;
    transform: translateY(0);
}

@keyframes toppopshow
{
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

.star-vbox-panel-top-pophide{
    z-index: 3;
    transform: translateY(-100%);
    animation:toppophide .3s ease;
}

@keyframes toppophide
{
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
}

.star-vbox-panel-bottom-popshow{
    z-index: 3;
    animation:bottompopshow .3s ease;
    transform: translateY(0);
}

@keyframes bottompopshow
{
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
}
.star-vbox-panel-bottom-pophide{
    z-index: 3;
    transform: translateY(100%);
    animation:bottompophide .3s ease;
}

@keyframes bottompophide
{
    from {transform: translateY(0);}
    to {transform: translateY(100%);}
}

// .star-vbox-panel-top-dock,.star-vbox-panel-bottom-dock{
//     z-index: 2;
// }
