@theme-namespace:star-web-theme;

@theme_color:#1890ff;
@theme_color_secondary:#ffdc18;
@theme_color_tertiary:#187cff;

@theme_color_9:tint(@theme_color, 90%);
@theme_color_8:tint(@theme_color, 80%);
@theme_color_7:tint(@theme_color, 70%);
@theme_color_6:tint(@theme_color, 60%);
@theme_color_5:tint(@theme_color, 50%);
@theme_color_4:tint(@theme_color, 40%);
@theme_color_3:tint(@theme_color, 30%);
@theme_color_2:tint(@theme_color, 20%);
@theme_color_1:tint(@theme_color, 10%);

@theme_color_error:#ff183e;
@theme_color_warning:#fffc38;
@theme_color_success:#00ff62;

@theme_color_text:#333;
@theme_color_text_selected:@theme_color;
@theme_color_text_hover:@theme_color_text;
@theme_color_text_disable:rgb(119, 119, 119);

@theme_background: #f2f3f4;
@theme_background_hover:@theme_color_9;
@theme_background_disabled:#f2f3f4;
@theme_background_selected:@theme_color;

@theme_fontsize_sm:12px;
@theme_fontsize_default:13px;
@theme_fontsize_lg:14px;

@theme_height_default:30px;
@theme_height_lg:36px;
@theme_height_sm:24px;

@theme_border_radius:3px;
@theme_border_color:#1890ff;
@theme_border_color_secondary:#bebebe;
@theme_border_color_hover:#bebebe;
@theme_border_color_disabled:#bebebe;


@btn_size_default: 20px;

@placeholder:gray;




