@import '~star-web/theme/index.less';
@import './theme/common.less';

#star-root-id{
  height: 100%;
  position: relative;
  width:100%;
}

html,body{
  margin:0;
  padding: 0;
  width:100%;
  height: 100%;
}